*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
max-width: 900px;
margin: 0 auto;
}


h1{
    display: flex;
    font-family: sans-serif;
    position: relative;
}

.toggle{
   position: absolute;
   right: 20px;
   left: 80%;
   top: 20px;
   flex-shrink: 0;
   flex-grow: 1;
}

header{
   

    .text{
        font-family: sans-serif;
        font-size: 12px;
        color: rgb(124, 123, 123);
    }
}